html {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  
}
.container {
  height: 100%;
  padding: 10px;
}
.head {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#level-title {
  font-family: "Press Start 2P", cursive;
  color: #000;
  margin-top: 0.5rem;
  font-size: 1.5rem;
}
.wraper{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#level {
  font-family: "Press Start 2P", cursive;
  width: 50%;
  font-size: 1.5rem;
  color: #000;
  margin: 10px auto; /* Center horizontally with auto margins */
  padding: 20px;
  border-radius: 1.2rem;
  border: 2px solid gray;
}


p {
  font-size: 2.5rem;
  font-weight: 700;
  font-family: "Press Start 2P", cursive;
}

.btnn {
  margin: 2rem;
  height: 10rem;
  width: 10rem;
  border-radius: 1.2rem;
  box-shadow: 5px 10px 20px gray;
}

.wrap {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 10px; /* Adjust the gap as needed */
}

.game-over {
  background-color: rgba(255, 0, 0, 0.8);
}

.red {
  background-color: #ff0000;
}

.green {
  background-color: rgb(0, 255, 0);
}

.blue {
  background-color: #0000ff;
}

.yellow {
  background-color: #ffff00;
}


@media screen and (max-width: 820px) {
 
  .container{
    width: 100%;
  }
  .head{
    margin-top: 5rem;
  }
  p {
    font-size: 1rem;
  }
}
